html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  background:black;
}

  *{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
header{
       background:url("https://i.postimg.cc/vmfTgjCz/images.jpg") no-repeat;
        background-size: cover;
        background-position: center;      
        padding: 20px;   
        width:100%;
        overflow: hidden;
    }
    
    nav{
        min-width: 80%;    
        display:flex;
        justify-content: space-between;
      align-items: center;
  
        color:#2a2b53;
        
    }
    
    a{
      
    text-decoration:none;
      font-weight: bold;
      font-size: 15px;
      color:#111867;
    }
    
    a :hover{
    background: green;
    }
    
    .cont2{
        color:#2a2b53;
        padding-left: 0px;
        margin-top: 60px;
    }
    
    .cont3{
        background:white;
        color: #2a2b53;
        padding: 20px;
        text-align:center;
        margin: 10px 10px 60px 10px;
    }
    
    .cont4{
        background:white;
        color: #2a2b53;
        padding: 100px;
        text-align:center;
        margin: 10px 10px 60px 10px;
    }
    
    .cont5{
        background:white;
        color: #2a2b53;
        padding: 50px;
        text-align:center;
        margin-top: 10px;
    }
    img{
        width: 200px;
        height: 200px;        
        border-radius: 200px;
        inset:0;
        margin: 20px;
    }
    
    p{
        font-size:12px;
    }
    
    h1, footer{
        color:white;
        text-align: center;
        margin-top:20px;
    }
    
    .style{
        padding:20px;
    }
   button {
   width: 40%;
   height: 30px;
   margin: auto;
   justify-content: center;
   display: block;
   color: white;
   background:  #171B44;
   font-size: 1em;
   font-weight: bold;
   outline: none;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 button:hover {
   background: #6d44b8;
 }
 
    